body{
    font-family: 'Montserrat', sans-serif;
    background-image: url("imagenes/background.png");
}

header {
  padding: 20px 0;
}

.caja{
    width: 30%;
    margin: 0 55px; 
}

.linea-azul {
  width: 100%; 
  height: 3px; 
  background-color: #0c2444; 
  margin-top: 20px; 
}

/* Traducción */
.traductor {
    display: flex;
    position: absolute;
    top:50px;
    right: 0;
}

.traductor ul {
  list-style: none;
  padding: 0;
  margin: 0; 
}

.traductor li {
    display: inline;
    margin: 0 0 0 15px;
    right: 10px;
    padding-right: 20px;
}

.traductor a {
  text-decoration: none; 
  color: #333333; 
  font-weight: bold; 
}

.traductor a:hover {
  color: #007bff;
}


.logo{
width: 40%;
max-width: 150px;
max-height: 100px;
min-width: 100px;
min-height: 50px;
}

/* Apartado de opciones*/
nav{
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    width: 50%;
    top:110px;
    right: 0;
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline;
  margin: 0 0 0 15px;
  right: 5px;
}

nav a {
  text-transform: uppercase;
  color: #000000;
  font-weight: bold;
  text-decoration: none;
  font-size: 22px;
}

nav a:hover {
  color: #0c2444;
  text-decoration: underline;
}

/* Media query para pantallas pequeñas */
@media (max-width: 500px) {
  nav {
    flex-direction: column;
    margin-bottom: 5%;
    width: 20%;
    top:100px;
  }

  nav li {
    margin: 10px 0;
    margin: 3%;
  }

  nav a{
    font-size: 12px;
  }
}


/*Productos*/
.descripcion p{
    margin: 2em;
    text-align: center;
}

.productos{
    width: 100%;
    margin: 0 auto;
}

.productos img{
    width: 100%;
}

.productos li{
    display: inline-block;
    text-align: center;
    width: 20%;
    vertical-align: top;
    margin: 1.5%;
    padding: 20px 20px;
    box-sizing: border-box;
    border: 2px solid #000000;
    border-radius: 10px;
}

.productos li:hover{
    border-color:#2fb6c2;
}

.productos li .nombre-producto {  /* Seleccionamos el elemento con la clase "nombre-producto" */
    cursor: pointer;  /* Cambiar el cursor a mano al pasar sobre el texto */
}

.productos li:hover .nombre-producto,
.productos li:hover img {
  display: none; /* Ocultamos la imagen y el título al pasar el mouse */
}

.productos li:hover .info-producto {
  display: block; /* Mostramos la información */
  position: relative; /* Posicionamos la información en relación a su contenedor */
  top: 0; /* Ajusta la posición vertical si es necesario */
  left: 0; /* Ajusta la posición horizontal si es necesario */
  width: 100%; /* Ocupa todo el ancho del contenedor */
  height: 100%; /* Ocupa toda la altura del contenedor */
}

.productos li .info-producto { /* Estilo para el div.info-producto */
    display: none; /* Oculta el div inicialmente */
    position: absolute; /* Posicionamiento relativo al elemento padre */
    top: 100%; /* Ubicación vertical debajo del elemento padre */
    left: 0; /* Ubicación horizontal a la izquierda del elemento padre */
    width: 100%; /* Ancho del div */
    background-color: #fff; /* Color de fondo */
    padding: 20px; /* Espacio interno alrededor del contenido */
    border-radius: 5px; /* Bordes redondeados */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); /* Sombra */
    z-index: 1; /* Posiciona el div sobre otros elementos */
}

.productos li:active{
    border-color:#000000;
}

.productos h2{
    font-size: 18px;
    font-weight: bold;
}

.productos li:hover h2{
    font-size: 22px;
}

/* Media query para pantallas pequeñas */
@media (max-width: 500px) {
  .productos li{
    display: inline-block;
    text-align: center;
    width: 40%;
    vertical-align: top;
    margin: 1.5%;
    padding: 20px 20px;
    box-sizing: border-box;
    border: 2px solid #000000;
    border-radius: 10px;
  }
}


/*Pie de página*/
footer {
    background-color: #0c2444;
    padding: 40px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social-links {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.social-links a {
    display: inline-block;
    margin: 0 10px;
}

.social-links i {
    font-size: 24px;
}

.logo-copyright {
    display: flex;
    align-items: center;
}

.logo-copyright img {
    width: 30%;
    height:30%;
}

.copyright {
    color: #FFFFFF;
    font-size: 15px;
    margin: 0;
}

.aviso {
    list-style: none;
    margin: 0;
    padding: 0;
}

.aviso li {
    margin-right: 20px;
}

.aviso a {
    color: #FFFFFF;
    text-decoration: none;
}

.aviso a:hover{
    color: #2fb6c2;
    text-decoration: underline;
}

/* Media query para pantallas pequeñas */
@media (max-width: 500px) {
  footer {
    padding: 10px 0;
 }

  .logo-copyright img {
    width: 150%;
    height:150%;
  }

  .copyright {
    font-size: 10px;
  }

  .aviso a {
    font-size: 13px;
  }
}

/*Formulario*/
.contacto-principal {
  display: flex;
  margin: 40px 0;
}

.informacion-contacto {
  flex: 1; 
  padding: 20px;
  border-radius: 10px;
}

.informacion-contacto h2 {
  color: #144284;
  font-size: 3em;
  font-weight: bold; 
}

.informacion-contacto h3 {
  color: #2fb6c2;
  font-size: 3em;
  font-weight: bold; 
  margin-bottom: 15px; 
}

.informacion-contacto p {
  font-size: 20px;
  line-height: 1.5; 
  margin: 15px;
}
.datos-contacto {
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
}

.datos-contacto p {
  font-size: 20px; 
  margin-bottom: 5px; 
}

.datos-contacto p img {
  margin-right: 10px; 
  vertical-align: middle; 
}

form{
    margin: 20px 0;
    color: #144284;
    font-weight: bold;
}

form label, form legend{
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}

.input-padron{
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;
}

.checkbox{
    margin:20px 0;
}

.enviar{
    width: 40%;
    padding: 15px 0;
    font-size: 18px;
    font-weight: bold;
    color:white;
    background: #2fb6c2;
    border:none;
    border-radius: 5px;
    transition: 1s all;
    cursor:pointer;
}

.enviar:hover{
    background: #3691c9;
    transform: scale(1.2);
}

table{
    margin: 40px 40px;
}

thead{
    background: #555555;
    color:white;
    font-weight: bold;
}

td,th{
    border: 1px solid #000000;
    padding: 8px 15px;
}

/* Media query para pantallas pequeñas */
@media (max-width: 500px) {

  .informacion-contacto {
    padding: 10px;
    border-radius: 10px;
  }

  .informacion-contacto h2 {
    font-size: 2em;
  }

  .informacion-contacto h3 {
    font-size: 2em;
  }

  .informacion-contacto p {
    font-size: 13px;
    margin: 10px;
  }

  .datos-contacto p {
    font-size: 13px; 
    margin-bottom: 5px; 
  }

  .datos-contacto p img {
    margin-right: 10px; 
    vertical-align: middle; 
  }

  form{
      margin: 10px 0;

  }

  form label, form legend{
      display: block;
      font-size: 13px;
      margin: 0 0 10px;
  }

  .formulario h3{
    font-size: 2em;
  }

  .enviar{
      width: 40%;
      padding: 15px 0;
      font-size: 13px;
  }
}


/*Banner*/
.banner {
  padding: 0 3em;
  position: relative;
  width: 90%
}

.texto-banner {
  position: absolute;
  width: 80%;
  top: 70%;
  left: 0;
  transform: translateY(-50%);
  color: white;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
  font-size: 47px;
  font-weight: bold;
  padding: 30px 30px;
  margin-left: 85px;
}

/* Media query para pantallas pequeñas */
@media (max-width: 500px) {
  .banner {
  padding-left: 7%;
  position: relative;
  width: 90%
  }

  .texto-banner {
  top: 30%;
  width: 80%;
  position: absolute;
  transform: translateY(-30%);
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
  font-size: 25px;
  margin-left: 5%;
  }
}

/* Información*/
.principal{
  padding: 3em 0;
  background: #FEFEFE;
  width: 85%;
  margin-left: 85px;
}

.titulo-principal{
  text-align: center;
  font-size: 2em;
  margin: 0 0 1em;
}

.titulo-secundario{
  text-align: center;
  font-size: 2em;
}

.texto-secundario{
  text-align: center;
  font-size: 1em;
  padding: 2%;
}

.titulo-contacto{
  color: #144284;
  font-size: 2em;
  margin: 0 0 1em;
}

.principal p{
  margin: 0 0 1em;
}

.principal strong{
  font-weight: bold;
}

.principal em{
  font-style: italic;
}

.principal img{
  width: 50%
}

/* Media query para pantallas pequeñas */
@media (max-width: 500px) {
  .principal{
  width: 90%;
  margin-left: 25px;
  }

  .principal p{
  width: 90%;
  height:40%;
  font-size: 13px;
  }

  .principal img{
  width: 10%
  height: 10%;
  }
}

.contenedor {
  display: flex;
  align-items: flex-start;
}

.contenedorTec {
  display: flex;
}

.menu-lateral {
  width: 20%;
  background-color: #f0f0f0;
  padding: 10px;
  position: static;
}

.menu-lateral ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.menu-lateral li {
  margin-bottom: 10px;
}

.menu-lateral a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #333;
}

.menu-lateral a:hover {
  background-color: #eee;
}

.menu-lateral .active a {
  background-color: #0c2444;
  color: white;
}

.contenido-principal {
  padding: 20px;
  font-size: 23px;
}

.seccion {
  display: none;
}

.seccion.active {
  display: block;
}

.masInfo{
    width: 20%;
    padding: 3%;
    font-size: 15px;
    font-weight: bold;
    color:white;
    background: #2fb6c2;
    border:none;
    border-radius: 5px;
    transition: 1s all;
    cursor:pointer;
}

.masInfo:hover{
    background: #3691c9;
}

.menu-lateral-Tec {
  width: 35%;
  background-color: #f0f0f0;
  position: static;
}

.menu-lateral-Tec ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.menu-lateral-Tec li {
  margin-bottom: 10px;
}

.menu-lateral-Tec a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #333;
  font-size: 15px;
}

.menu-lateral-Tec a:hover {
  background-color: #eee;
}

.menu-lateral-Tec .active a {
  background-color: #0c2444;
  color: white;
}

.contenido-principalTec {
  font-size: 15px;
  padding: 5%;
}

/* Media query para pantallas pequeñas */
@media (max-width: 500px) {
  .menu-lateral-Tec {
  width: 20%;
  background-color: #f0f0f0;
  position: static;
  }

  .menu-lateral-Tec ul {
  font-size: 5px;
  }

  .menu-lateral-Tec li {
  margin-bottom: 5px;
  }

  .menu-lateral-Tec a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #333;
    font-size: 15px;
  }

  .menu-lateral-Tec a:hover {
    background-color: #eee;
  }

  .menu-lateral-Tec .active a {
    background-color: #0c2444;
    color: white;
  }

  .contenido-principalTec {
  font-size: 10px;
  padding: 2%;
  }
}

.imagen-y-texto {
  display: flex; 
  align-items: center;
  max-width: 900px;
}

.lista-valores{
    display: inline-block;
    vertical-align: top;
    padding: 20px;
}

.lista-productos{
    display: none;
    vertical-align: top;
    padding: 20px;
}

.items{
    line-height: 1.5;
}

.items:before{
    content:"★"
}

.items{
    font-weight: bold;
}


/* Ubicación */

.mapa{
    padding: 3em 0;
}

.mapa p{
    margin: 0 0 2em;
    text-align: center;
}

.mapa-contenido{
    width: 100%;
    margin: 0 auto;
}

/*Video*/
.video{
    padding: 3em 0;
}

.video-contenido{
    width: 100%;
}

/* Media query para pantallas pequeñas */
@media (max-width: 768px) {
  .video{
    width: 100%;
  }
}

